<ion-view view-title="Edit" ng-controller="EditCtrl">
  <ion-content>
    <div class="list">
      <div class="item">
        <input type="text" ng-model="todo.title">
      </div>
      <div class="item">
        <textarea rows="5" ng-model="todo.description"></textarea>
      </div>
      <ion-checkbox ng-model="todo.complete"">완료</ion-checkbox>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="save()">저장</button>
    </div>
  </ion-content>
</ion-view>
